.logo{
  margin-bottom:30px;
}
.logo img {
  width: 300px;
}
.col-sort{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 30px;
}
.col-sort select{
  border-radius:5px;
  border: 1px solid #c4c4c4;
  padding: 6px 12px;
}