.col-product{
    margin-bottom:24px;
}
.product-image{
    height:300px;
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
    padding:5px;
}
.product-name{
    font-size:16px;    
    height: 60px;
    overflow: hidden;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom:5px;
    text-align:center;
}
.product-retail{
    text-align:center;
    font-size:14px;
    text-decoration: line-through;
    font-weight: 500;
    min-height:21px;
}
.product-sale{
    text-align:center;
    font-size:18px;
    font-weight: 600;
    color:#0064E4;
}
.without-retail-price{
    margin-top:21px;
}
.sold-out-badge{
    position:absolute;
    bottom:10px;
    right:5px;
    padding: 2px 10px;
    background:#c4c4c4;
    color:#fff;
    font-size:14px;
}
@media(max-width:992px){
    .product-image{
        height:150px;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .product-image img{
        max-width:100%;
        max-height:100%;
    }
}