.card {
    padding: 1rem;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    border-radius: 10px;
    background-color: white;
    cursor:pointer;
}
.card:hover {
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
    transition:0.5s all ease;
}